* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: rgb(0, 0, 0);
}

/*
 * Formatting the header area
 */

header {
  background-color: rgb(15, 78, 26);
  height: 64px;
  width: 100%;
  opacity: .8;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 1;
  font-size: 1.7em;
  color: #fff;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

