{%extends "layout.html"%}
{%block content%}

<div class="about">
    <div class="columns">
        <div class="oneColumn">
            <div class="card">
                <h2>About me</h2>
                <h4>Basic informations</h4>
                <p>
                    I was born in February 10th 1997 in Wroclaw, Poland. 
                </p>
                <h4>Education</h4>
                <ul style="list-style-type: circle;">
                    <li><b>2013 - 2016</b> High School Nr 7, Wroclaw, Mathematics and Phisics </li>
                    <li><b>2016 - 2017</b> University of Science and Technology, Wroclaw, Biomedical engineering</li>
                    <li><b>2017 - Now</b> University of Science and Technology, Wroclaw, Information Technology</li>
                </ul>
                <h4>Interests</h4>
                <p>
                    I like sport activities. In my freetime I am running or going to gym. In winter
                    I am working in mountains as qualified skiing instruktor, what I really enjoy.
                    Except for this I like also going to skitour with friends or family.
                </p>

            </div>
        </div>
    </div>
</div>

{%endblock%}