{%extends "layout.html"%}
{%block content%}

<div class="home">
    <div class="columns">
        <div class="leftColumn">
            <div class="card">
                <h2>Creating My Website</h2>
                <h5>My website was created, Nov 6, 2019</h5>
                <p>
                    On the date of 6th November this website was in its
                    very initial version.
                </p>
            </div>
        </div>
        <div class="rightColumn">
            <div class="card">
                <h2>About me</h2>
                <p>I am a student of IT at Wroclaw University of Science and Technology.
                    Technologies that I'm interested in are: Java, Python and CSS. </p>
                <p>In my free time, I like doing some sports like running or skitouring. </p>

            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <a href="https://github.com/FilipRegenczuk"><i class="fab fa-github"></i> My GitHub</a>
            </div>
        </div>
    </div>         
</div>  

{%endblock%}