{%extends "layout.html"%}
{%block content%}

<div class="home">
    <div class="columns">
        <div class="leftColumn">
            <div class="card">
            <h2>Creating My Website</h2>
            <h5>My website was created, Nov 6, 2019</h5>
            <p>On the date of 6th November this website was in its
                very initial version.
            </p>
            </div>
        </div>
        <div class="rightColumn">
            <div class="card">
            <h2>About me</h2>
            <p>Some text about me...</p>
            </div>
            <div class="card">
            <h3>Follow Me</h3>
            <p>Some text</p>
            </div>
        </div>
    </div>         
</div>  

{%endblock%}