<!DOCTYPE html>
<html>
  <head>
      <title>My Website</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="header">
        <h1 class="logo">My Website</h1>
        <p> The Website of Filip Regeńczuk</p>
      </div>
    </header>

    <div class="navigationBar">
      <a href="#">Home</a>
      <a href="#">Link</a>
    </div>

    <div class="columns">
      <div class="leftColumn">
        <div class="card">
          <h2>TITLE</h2>
          <h5>Title description, Nov 6, 2019</h5>
          <p>Text...</p>
        </div>
      </div>
      <div class="rightColumn">
        <div class="card">
          <h2>About me</h2>
          <p>Some text about me...</p>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <p>Some text</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <h2>Footer</h2>
    </div>

  </body>
</html>
